<div class="sweets-about j">
    <div class="container">
        <div class="about-ttl">
            <h2>sweetslogとは</h2>
            <p>about</p>
        </div>

        <div class="about-main">
            <div class="about-txt_1">
                <h4>
                    sweetslogは、スイーツのためだけに作られたブログサイトです。
                    本当に美味しいスイーツを、このサイトで閲覧、または投稿することができます。
                    スイーツ文化の発展を望み、手助けになればと考えています。
                </h4>
            </div>

            <div class="about-txt_2">
                <h4>
                    ストレスは、現代の日本で社会問題になるほど大きな課題です。
                    その課題を解決する鍵は、ストレスの吐け口を作ることと考えます。
                    ストレス発散方としてよく挙げられる「甘いモノを食べること」は実際に多くの人が試していることだと思います。
                    そこでより質の高いスイーツを堪能できるようにsweetslogは誕生しました。
                    もちろん、ちょっと小腹が空いたからスイーツを調べてみるといったことで利用していただいてもかまいません。
                </h4>
            </div>
        </div>
    </div>

</div>