<div class="sweets-top p">
    <! スライド機能 >
    <div class="container">
        <div class="top-image">
            <div class="slides">
                <img src="/css_image/top-image.1.jpg" class="slide">
                <img src="/css_image/top-image.2.jpg" class="slide">
                <img src="/css_image/top-image.3.jpg" class="slide">
            </div>
        </div>
    </div>

    <! トップページ情報部分 >
    <div class="top-info">
        <div class="container">
            <div class="top-heading">
                <h2>全スイーツ通必見</h2>
                <p>本当に美味しいスイーツが集まる場所</p>
            </div>
            <div id="sec">
                <ul>
                    <li>
                        <div class="card-img">
                            <img src="/css_image/sample_1.png">
                        </div>

                        <p class="title01">参考にする</p>
                        <p>多岐にわたるジャンルの中からあなたが好きなスイーツがきっと見つかる</p>
                    </li>
                    <li>
                        <div class="card-img">
                            <img src="/css_image/sample_2.png">
                        </div>

                        <p class="title01">投稿する</p>
                        <p>自分が気に入ったスイーツをみんなに共有してみよう</p>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
</div>